@model  proje.Areas.admin.Models.urunler

@{
    ViewBag.Title = "Onay_urun_islem";
    Layout = "~/Areas/admin/Views/_LayoutAdminPage.cshtml";
}

<div class="connection_way">
    <i class="fa fa-home" aria-hidden="true"></i> <a href="@Url.Action("Index", "Home")">Anasayfa</a>
    <span class="con_point">> </span> <a href="@Url.Action("OnayBekleyenler", "Urunler")">Onay Bekleyenler</a>
    <span class="con_point">> </span><span>Detay/İşlem</span>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="head_page"><h3>Onay Bekleyen Ürünler İşlem Sayfası</h3></div>

            <div class="urun_detay">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <div class="details_profil_img"><img width="200" height="213" src="~/Assets/uploads/products_img/@Model.resim" alt="profil_img" /></div>
                        <div class="islem">
                            <form method="post" style="margin-top:10px" action="@Url.Action("Onay_urun_islem", "Urunler", new { urun_id = Model.id})">
                                <h5>Bu ürün için bir işlem seçiniz</h5>
                                <div class="form-group">
                                    <select name="islem_sec" class="form-control">
                                        <option value="1">Onayla</option>
                                        <option value="2">Reddet</option>
                                    </select>
                                </div>
                                <input class="btn btn-success" type="submit" value="İşlemi Gerçekleştir" style="width:100%" />
                            </form>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="details">
                            <table class="table .table-responsive">
                                <tr>
                                    <th>Ürün Adı</th>
                                    <td>@Model.adi</td>
                                </tr>
                                <tr>
                                    <th>Satıcı Üye</th>
                                    <td>@Model.uyeler.adsoy</td>
                                </tr><tr>
                                    <th>Ürün Kategorisi</th>
                                    <td>@Model.kategoriler.adi</td>
                                </tr>
                                <tr>
                                    <th>Stok Durumu</th>
                                    <td>@Model.stok</td>
                                </tr>
                                <tr>
                                    <th>Taban Fiyatı</th>
                                    <td>@Model.taban_fiyati TL</td>
                                </tr>
                                <tr>
                                    <th>Tavan Fiyatı</th>
                                    <td>@Model.tavan_fiyati TL</td>
                                </tr>
                                <tr>
                                    <th>Durum</th>
                                    <td>@Model.durum</td>
                                </tr>
                                <tr>
                                    <th>Paylaşım Tarihi</th>
                                    <td>@Model.tarih</td>
                                </tr>
                                <tr>
                                    <th>Meta Descrition</th>
                                    <td>@Model.description</td>
                                </tr>
                                <tr>
                                    <th>Meta Keywords</th>
                                    <td>@Model.keywords</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-12">
                        <h4 class="text-center">Ürün Özellik ve Tanıtımı</h4>
                        @Html.Raw(Model.aciklama)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>