@model IEnumerable<proje.Areas.admin.Models.teklifler>

@{
    ViewBag.Title = "FirmaTeklifler";
    Layout = "~/Areas/admin/Views/_LayoutAdminPage.cshtml";
}

<div class="connection_way">
    <i class="fa fa-home" aria-hidden="true"></i> <a href="@Url.Action("Index","Home")">Anasayfa</a>
    <span class="con_point">> </span><span>Firma Teklifler</span>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="head_page"><h3>Firma Teklifler</h3></div>

            <div class="tableback">
                <table class="data_table_pagination table table-striped" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Kazanan Uye Adı</th>
                            <th>Urun Adı</th>
                            <th>Teklif</th>
                            <th>Durum</th>
                            <th>İşlem</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Kazanan Uye Adı</th>
                            <th>Urun Adı</th>
                            <th>Teklif</th>
                            <th>Durum</th>
                            <th>İşlem</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><a href="@Url.Action("Details","Uyeler", new { id = item.uye_id})">@item.uyeler.adsoy</a></td>
                                <td><a href="@Url.Action("FirmaUrunlerDetay","Urunler", new { id = item.urun_id})">@item.urunler.adi</a></td>
                                <td>@item.teklif TL</td>
                                <td>@item.durum</td>
                                <td><a class="btn btn-success btn-sm" href="@Url.Action("Firma_teklif_islem","Teklifler", new { id = item.id})">İşlem Yap</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>