@model proje.Areas.admin.Models.uyeler

@{
    ViewBag.Title = "Kisisel_Bilgi_Degis";
    Layout = "~/Areas/admin/Views/_LayoutAdminPage.cshtml";
}

<div class="connection_way">
    <i class="fa fa-home" aria-hidden="true"></i> <a href="@Url.Action("Index", "Home")">Anasayfa</a>
    <span class="con_point">> </span><a href="@Url.Action("Profil","Home")">Profil</a>
    <span class="con_point">> </span><span>Profil Düzenle</span>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="uye_detay">
                <div class="row">
                    <div class="col-md-4 text-center">
                        @if (ViewBag.ProfilDüzenlemeSonucu != null)
                        {
                            <div class="alert alert-success">
                                <button type="button" class="close" data-dismiss="alert">
                                    <i class="ace-icon fa fa-times"></i>
                                </button><br>
                                <div>
                                    @ViewBag.ProfilDüzenlemeSonucu
                                </div>
                                <br>
                            </div>
                        }
                        <div class="profil_img"><img width="187" height="200" src="~/Assets/uploads/profile_img/@Model.resim" alt="profil_img" /></div>
                        <div class="detay_yetki">
                            @if (Model.yetki.Trim().Equals("Admin"))
                            {
                                <div class="yetki_admin">@Model.yetki</div>
                            }
                            @if (Model.yetki.Trim().Equals("Yönetici"))
                            {
                                <div class="yetki_yonetici">@Model.yetki</div>
                            }

                        </div>
                        <div class="detay_yetki"><a href="@Url.Action("Profil_Resmi_Degis","Home")" class="profil_resmi_degistir">Profil Resmini Değiştir</a></div>
                        <div class="detay_yetki"><a href="@Url.Action("Kisisel_Bilgi_Degis","Home")" class="kisisel_bilgi_duzenle">Kişisel Bilgilerimi Düzenle</a></div>
                    </div>
                    <div class="col-md-8">
                        <div class="details">
                            <form action="@Url.Action("Kisisel_Bilgi_Degis","Home")" method="post">
                                <table class="table .table-responsive">
                                    <tr>
                                        <th>Adı ve Soyadı</th>
                                        <td><input class="form-control" type="text" name="adsoy" value="@Model.adsoy" /></td>
                                    </tr>
                                    <tr>
                                        <th>Email Adresi</th>
                                        <td><input class="form-control" disabled type="email" value="@Model.email" /></td>
                                    </tr>
                                    <tr>
                                        <th>Şifre</th>
                                        <td><input class="form-control" type="password" name="sifre" value="@Model.sifre" /></td>
                                    </tr>
                                    <tr>
                                        <th>Telefon</th>
                                        <td><input class="form-control" type="text" name="tel" value="@Model.telefon" /></td>
                                    </tr>
                                    <tr>
                                        <th>Şehir</th>
                                        <td>
                                            <select name="sehir" class="form-control">
                                                <option value="@Model.sehir">@Model.sehir</option>
                                                <option value="İstanbul">İstanbul</option>
                                                <option value="Ankara">Ankara</option>
                                                <option value="İzmir">İzmir</option>
                                                <option value="Adana">Adana</option>
                                                <option value="Adıyaman">Adıyaman</option>
                                                <option value="Afyonkarahisar">Afyonkarahisar</option>
                                                <option value="Ağrı">Ağrı</option>
                                                <option value="Aksaray">Aksaray</option>
                                                <option value="Amasya">Amasya</option>
                                                <option value="Antalya">Antalya</option>
                                                <option value="Ardahan">Ardahan</option>
                                                <option value="Artvin">Artvin</option>
                                                <option value="Aydın">Aydın</option>
                                                <option value="Balıkesir">Balıkesir</option>
                                                <option value="Bartın">Bartın</option>
                                                <option value="Batman">Batman</option>
                                                <option value="Bayburt">Bayburt</option>
                                                <option value="Bilecik">Bilecik</option>
                                                <option value="Bingöl">Bingöl</option>
                                                <option value="Bitlis">Bitlis</option>
                                                <option value="Bolu">Bolu</option>
                                                <option value="Burdur">Burdur</option>
                                                <option value="Bursa">Bursa</option>
                                                <option value="Çanakkale">Çanakkale</option>
                                                <option value="Çankırı">Çankırı</option>
                                                <option value="Çorum">Çorum</option>
                                                <option value="Denizli">Denizli</option>
                                                <option value="Diyarbakır">Diyarbakır</option>
                                                <option value="Düzce">Düzce</option>
                                                <option value="Edirne">Edirne</option>
                                                <option value="Elazığ">Elazığ</option>
                                                <option value="Erzincan">Erzincan</option>
                                                <option value="Erzurum">Erzurum</option>
                                                <option value="Eskişehir">Eskişehir</option>
                                                <option value="Gaziantep">Gaziantep</option>
                                                <option value="Giresun">Giresun</option>
                                                <option value="Gümüşhane">Gümüşhane</option>
                                                <option value="Hakkâri">Hakkâri</option>
                                                <option value="Hatay">Hatay</option>
                                                <option value="Iğdır">Iğdır</option>
                                                <option value="Isparta">Isparta</option>
                                                <option value="Kahramanmaraş">Kahramanmaraş</option>
                                                <option value="Karabük">Karabük</option>
                                                <option value="Karaman">Karaman</option>
                                                <option value="Kars">Kars</option>
                                                <option value="Kastamonu">Kastamonu</option>
                                                <option value="Kayseri">Kayseri</option>
                                                <option value="Kırıkkale">Kırıkkale</option>
                                                <option value="Kırklareli">Kırklareli</option>
                                                <option value="Kırşehir">Kırşehir</option>
                                                <option value="Kilis">Kilis</option>
                                                <option value="Kocaeli">Kocaeli</option>
                                                <option value="Konya">Konya</option>
                                                <option value="Kütahya">Kütahya</option>
                                                <option value="Malatya">Malatya</option>
                                                <option value="Manisa">Manisa</option>
                                                <option value="Mardin">Mardin</option>
                                                <option value="Mersin">Mersin</option>
                                                <option value="Muğla">Muğla</option>
                                                <option value="Muş">Muş</option>
                                                <option value="Nevşehir">Nevşehir</option>
                                                <option value="Niğde">Niğde</option>
                                                <option value="Ordu">Ordu</option>
                                                <option value="Osmaniye">Osmaniye</option>
                                                <option value="Rize">Rize</option>
                                                <option value="Sakarya">Sakarya</option>
                                                <option value="Samsun">Samsun</option>
                                                <option value="Siirt">Siirt</option>
                                                <option value="Sinop">Sinop</option>
                                                <option value="Sivas">Sivas</option>
                                                <option value="Şırnak">Şırnak</option>
                                                <option value="Tekirdağ">Tekirdağ</option>
                                                <option value="Tokat">Tokat</option>
                                                <option value="Trabzon">Trabzon</option>
                                                <option value="Tunceli">Tunceli</option>
                                                <option value="Şanlıurfa">Şanlıurfa</option>
                                                <option value="Uşak">Uşak</option>
                                                <option value="Van">Van</option>
                                                <option value="Yalova">Yalova</option>
                                                <option value="Yozgat">Yozgat</option>
                                                <option value="Zonguldak">Zonguldak</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Adres</th>
                                        <td><input class="form-control" type="text" name="adres" value="@Model.adres" /></td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <td><input type="submit" class="btn btn-success" value="GÜNCELLE" style="width:100%" /></td>
                                    </tr>
                                </table>

                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

