
@{
    ViewBag.Title = "Tekliflerim";
    Layout = "~/Views/_LayoutHesabimPage.cshtml";
}

<div class="connection_way">
    <i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i> <a href="@Url.Action("Tekliflerim","Hesabim")">Tekliflerim</a>
</div>

<div class="table-list">
    <table class="data_table_pagination table table-striped" cellspacing="0">
        <thead>
            <tr>
                <th>Urun Adı</th>
                <th>Teklifim</th>
                <th>Kalan Süre</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Urun Adı</th>
                <th>Teklifim</th>
                <th>Kalan Süre</th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in ViewBag.Teklifler)
            {
                <tr>
                    <td><a href="@Url.Action("Teklif_zaman_kontrol","Anasayfa",new { urun_id = item.urun_id } )">@item.urun_adi</a></td>
                    <td>@item.toplam TL</td>
                    <td><div class="time" data-countdown="@item.bitis_tarihi"></div></td>
                </tr>
            }
        </tbody>
    </table>
</div>



<div class="mobile-list">
    @{ int i = 0, s_list = 1;}

    <div class="pag text-center">
        <ul>
            <li><button onclick="sol_btn()" class="sol_btn"><<</button></li>
            <li><button onclick="sag_btn()" class="sag_btn">>></button></li>
            <li class="s_konum">1</li>
            <li>/</li>
            <li class="ss_text"></li>
        </ul>
    </div>

    @foreach (var item in ViewBag.Teklifler)
    {
        i++;

        <div class="item s@(s_list)_list">

            <a class="list-group-item list-group-item-action" data-toggle="collapse" href="#deneme@(i)" aria-expanded="false" aria-controls="deneme@(i)">

                <div class="row">
                    <div class="col-12">
                        <b>Ürün Adı:</b> @item.urun_adi
                    </div>
                    <div class="col-12">
                        <b>Teklifim:</b> @item.toplam TL
                    </div>
                    <div class="col-12">
                        <b>Kalan Süre:</b>
                        <div class="time" data-countdown="@item.bitis_tarihi"></div>
                    </div>
                </div>
            </a>
            <div class="collapse" id="deneme@(i)">
                <div class="row">
                    <div class="col-12">
                        <a href="@Url.Action("Teklif_zaman_kontrol","Anasayfa",new { urun_id = item.urun_id } )" style="width:100%" class="detail btn btn-info btn-sm"><i class="fa fa-gavel" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>


        if (i == 10 * s_list)
        {
            s_list += 1;
        }
    }

    <div class="pag text-center">
        <ul>
            <li><button onclick="sol_btn()" class="sol_btn"><<</button></li>
            <li><button onclick="sag_btn()" class="sag_btn">>></button></li>
            <li class="s_konum">1</li>
            <li>/</li>
            <li class="ss_text"></li>
        </ul>
    </div>
    <input type="hidden" value="1" id="sayfa_konum" />
    <input type="hidden" value="@s_list" id="sayfa_sayisi" />
</div>


<script src="~/Assets/home/js/jquery-3.2.1.min.js"></script>
<script src="~/Assets/home/js/jquery.countdown.min.js"></script>
<script>

    $('[data-countdown]').each(function () {
        var $this = $(this), finalDate = $(this).data('countdown');
        var finalDateArrayOne = finalDate.split(".");
        var finalDateArrayTwo = finalDateArrayOne[2].split(" ");
        var finalDateLast = finalDateArrayTwo[0] + "/" + finalDateArrayOne[1] + "/" + finalDateArrayOne[0] + " " + finalDateArrayTwo[1];

        $this.countdown(finalDateLast, function (event) {
            $this.html(event.strftime('%D Gün %H:%M:%S'));
        }).on('finish.countdown', function (event) {
            $(this).parent()
              .html('<div class="time">-</div>');
            location.reload();
        });

    });


    $(document).ready(function () {
        var sayfa_sayisi = $("#sayfa_sayisi").val();

        $(".ss_text").html(sayfa_sayisi);

        if (sayfa_sayisi > 1) {
            for (i = 2; i <= sayfa_sayisi; i++) {
                $(".s"+ i +"_list").hide();
            }
        }
    });

    function sag_btn() {
        var sayfa_konum = $("#sayfa_konum").val();
        var sayfa_sayisi = $("#sayfa_sayisi").val();

        if (sayfa_konum < sayfa_sayisi) {
            $(".s" + sayfa_konum + "_list").hide();
            $("#sayfa_konum").val(parseInt(sayfa_konum) + 1);
            $(".s" + $("#sayfa_konum").val() + "_list").show();
            $(".s_konum").html($("#sayfa_konum").val());
        }
    }

    function sol_btn() {
        var sayfa_konum = $("#sayfa_konum").val();
        var sayfa_sayisi = $("#sayfa_sayisi").val();

        if (sayfa_konum > 1) {
            $(".s" + sayfa_konum + "_list").hide();
            $("#sayfa_konum").val(parseInt(sayfa_konum) - 1);
            $(".s" + $("#sayfa_konum").val() + "_list").show();
            $(".s_konum").html($("#sayfa_konum").val());
        }

    }

</script>